<div class="bio">
  <div class="bio-photo">
    <img src="/assets/images/bio/waste.png" class="replaced-photo">
  </div>
  <div class="bio-text">
    <h2>
      Hello, I'm <span class="bio-link" photo_url="anne.gif">Anne Lee Steele</span>.
    </h2>

    <h3 class="bio-paragraph">
      I'm a MA candidate at the Graduate Institute of International and Development Studies, Geneva, and a <a href="https://fellows.frictionlessdata.io/" class="bio-link" photo_url="frictionless.png">Reproducible Research Fellow</a> at the Open Knowledge Foundation. In my free time, I curate <a href="https://www.supply-chains.us/" class="bio-link" photo_url="supply-chains.png">supply-chains.us</a> and <a href="https://open-source-social-science.github.io/" class="bio-link" photo_url="open-source-social-science.png">open-source-social-science</a>.
    </h3>

    <h3 class="bio-paragraph">
    For me, research and multimedia are inextricably linked. As an anthropologist, I'm interested in the people & processes behind our digital lives (think: open source software, maps, and supply chains). Through writing, design, and digital art, I'm always trying to make these ideas accessible and engaging.
    </h3>

    <h3 class="bio-paragraph">
    Before moving to Switzerland, I <span class="bio-link" photo_url="bhutan3.png">researched conservation</span> in Bhutan, <span class="bio-link" photo_url="putney.png">co-led student expeditions</span> in Nepal, and <span class="bio-link" photo_url="data-viz.png">coded data visualizations</span> for a Washington DC think tank. As an undergraduate at Columbia University, I studied global cities and natural resource conflict. I also <span class="bio-link" photo_url="designs.png">designed media</span> for different organizations in New York City.
    </h3>

    <h3 class="bio-paragraph">
    When I'm not on a computer, I'm usually <span class="bio-link" photo_url="mountains.jpg">outside</span>.
    </h3>

    <h3 class="bio-paragraph">
     I'm always on the lookout for opportunities and collaborators. My CV is available <a href="https://res.cloudinary.com/aleesteele/image/upload/v1620909383/Steele_CV_2021.pdf" class="bio-link">here</a>. Take a look at my <a href="https://github.com/aleesteele" class="bio-link" photo_url="anne.png">Github</a> or <a href="https://twitter.com/aleesteele" class="bio-link" photo_url="anne.png">Twitter</a> to learn more about me. Feel free to get in <a href="mailto:aleesteele@gmail.com">get in touch. ✉</a>
    </h3>
  </div>
</div>
