{% assign posts = site.posts %}
{% if page.title == 'Recent Work' %}
  {% assign posts = site.portfolio %}
{% endif %}

{%- for post in posts -%}
<ul class="post-list">
  <li>
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    <span class="post-meta">{{ post.date | date: date_format }}</span>
    <h3 class="post-meta__title">
      <b><a class="post-link" href="{{ post.url | relative_url }}">
        {{ post.title | escape }}
      </a></b>
    </h3>
    {%- if post.categories.size > 0 -%}
      {% for category in post.categories %}
        <span class="post-meta__category">{{ category }}</span>
      {% endfor %}
    {%- endif -%}

    {%- if site.show_excerpts -%}
      {{ post.excerpt }}
    {%- endif -%}
  </li>
  {%- endfor -%}
</ul>
