/*==================================
=               Bio                =
==================================*/

.bio {
  align-items: center;
  justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
  display: block;

  @media (min-width: 56.25em) {
    display: flex;
  }

  &-link, a {
    color: $color__grey;
    cursor: pointer;

    &:hover {
      color: $color__torquoise;
      // text-decoration: underline;
    }
  }

  &-paragraph {
    font-weight: 500;
  }

  &-text {

    @media (min-width: 56.25em) {
      width: 50%;
      padding: 0 5rem;
    }
  }

  &-photo {

    @media (min-width: 56.25em) {
      overflow-y: hidden;
      height: 70vh;
      width: 50%;
    }
  }
}
