/*==================================
=           Portfolio              =
==================================*/

.portfolio {
  margin-right: 4rem;
  margin-left: 4rem;
  display: block;

  @media (min-width: 56.25em) {
    display: flex;
  }

  &-link {
    cursor: default;

    @media (min-width: 480px) {
      color: $color__grey;

      &:hover {
        color: $color__torquoise;
      }
    }
  }

  a {
    color: $color__grey;
    font-style: italic;

    &:hover {
      color: $color__torquoise;
      border-bottom: 2px $color__torquoise dashed;
      text-decoration: none;
    }
  }

  &-list {
    font-family: $font__helvetica;
    font-weight: 500;
  }

  &-text {
    margin-top: 2rem;
    align-items: center;
    justify-content: center;

    @media (min-width: 56.25em) {
      width: 30%;
      padding: 0 3rem;
      margin-top: 0rem;
    }
  }

  &-photo {
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    max-height: 30%;

    @media (min-width: 56.25em) {
      width: 70%;
    }

    img {
      width: 100%;
    }

    .replaced-photo {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
