---
layout: default
---

<div class="bio">
  <div class="bio-photo">
    <img src="/assets/images/bio/mountains.jpg" class="replaced-photo">
  </div>
  <div class="bio-text">
    <h2 class="bio-paragraph">
      I'm <span class="bio-link" photo_url="bhutan2.jpg">Anne Lee Steele</span>, currently a MA candidate at the Graduate Institute of International and Development Studies, Geneva.
    </h3>

    <h3 class="bio-paragraph">
      Before moving to Switzerland, I <span class="bio-link" photo_url="bhutan2.jpg">researched conservation</span> in Bhutan, <span class="bio-link" photo_url="putney.jpg">lead student expeditions</span> in Nepal, and <span href="" class="bio-link" photo_url="peru.jpg">coded data visualizations</span> for a Washington DC think tank. As an undergraduate at Columbia University, I studied <span class="bio-link" photo_url="climbing.jpg">global cities</span> and <span class="bio-link" photo_url="climbing.jpg">natural resource conflict</span>. I'm interested in how technology and the environment affect people and their politics, and I've written about how important <a href="https://consiliencejournal.org/article/investing-the-global-and-local-in-wangchuck-centennial-national-park-a-case-for-the-bhutanese-conservation-actors-in-between/">those in the middle</a> are for mitigating such complicated problems.
    </h4>

    <h3 class="bio-paragraph">
    These experiences fueled my passion for interdisciplinary research, and taught me the importance of using modern tools for my work. But when I'm not thinking about digital ethnography or human-centered design, I'm either in the <span class="bio-link" photo_url="climbing.jpg">mountains</span>, <span href="" class="bio-link" photo_url="bhutan1.jpg">writing</span>, or <span href="" class="bio-link" photo_url="bhutan1.jpg">shooting video</span>. Take a look at my <a href="http://linkedin.com/in/anneleesteele">LinkedIn</a> or social media to learn more about me. And of course, feel free to <a href="mailto:aleesteele@gmail.com">get in touch. ✉</a>
    </h4>
  </div>
</div>
