<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	{% if page.image %}
 	 <meta property="og:image" content="assets/images/mountains.jpg">
	{% else %}
  	<meta property="og:image" content="assets/images/mountains.jpg">
	{% endif %}

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      {% if page.title == 'Home'%}
        <div class="home-wrapper">
          {{ content }}
        </div>
      {% else %}
        <div class="wrapper">
          {{ content }}
        </div>
      {% endif %}
    </main>

    {%- include footer.html -%}

  </body>

</html>
